@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Lato:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", serif;
  color: #f6ecfb;
  background: linear-gradient(#333134, #29272a);
  min-height: 100vh;
}

img {
  display: block;
  object-fit: contain;
}

h1,
p {
  text-align: center;
}

button {
  font: inherit;
}

