@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Lato:wght@400;700&display=swap");
@import 'ngx-toastr/toastr';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inria Sans", Arial, sans-serif;
  background-color: #d2cfcf;
  min-height: 100vh;
}

