<section id="table-details">
  <header>
    <h2>Table Properties</h2>
  </header>

  <app-cards>
    @if (selectedTable$ | async; as selectedTable) {
    <article>
      <h2>Table {{ selectedTable.tableNumber }}</h2>
      <p>Description: {{ selectedTable.description }}</p>
      <p>
        Status:
        {{
        selectedTable.status === 'CALLING'
        ? 'Calling waiter...'
        : selectedTable.status === 'ACKNOWLEDGED'
        ? 'Acknowledged'
        : 'Idle'
        }}
      </p>

      <p class="actions">
        <button (click)="onCallWaiter(selectedTable)" [disabled]="selectedTable.status === 'CALLING' || 
            !(mqttConnected$ | async)
          ">
          {{
          !(mqttConnected$ | async)
          ? 'Connecting...'
          : selectedTable.status === 'CALLING'
          ? 'Calling waiter...'
          : 'Call waiter'
          }}
        </button>

        <!-- @if (mqttConnected$ | async; as connected) {
        <button (click)="onCallWaiter(selectedTable)" [disabled]="selectedTable.status !== 'IDLE' || !connected">
          {{ !connected ? 'Connecting...' :
          selectedTable.status === 'CALLING' ? 'Calling waiter...' :
          'Call waiter' }}
        </button>
        } -->
      </p>
    </article>
    }
  </app-cards>
</section>